// Tema girasoles
$primary: #f5c705 !important;
$border_primary: #dcb304 !important;
$button_primary: #f8efcc !important;
$secondary: #b86d07 !important;
$border_secondary: #a56206 !important;
$tertiary: #222a0f !important;
$border_tertiary: #383f26 !important;

:root {
  --color-primary: #000;
}

// Tema rosas rojas
//$primary: #ff7693;
