/* Variables */
@import '@/assets/scss/_variables.scss';
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Estilos del corazon */
@import '@/assets/scss/heart.scss';
/* Estilos blockquote */
@import '@/assets/scss/blockquote.scss';
@import '@/assets/scss/reproductor.scss';

* {
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s ease;
}

body {
  font-family: 'Open Sans', 'Noto Sans', HelveticaNeueCyr, Helvetica, sans-serif;

  /* Location of the image */
  background-image: url("./assets/images/girasol.png");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #fbf7e5;
}

.title-foryou {
  color: $primary;
}
.subtitle-foryou {
  color: $tertiary;
}
.button-foryou {
  background-color: $primary;
  color: $secondary;
  border-color: $secondary;
}

.btn.focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn.active{
  background-color: $secondary;
  color: $color_letter;
}

@media screen and (max-width: 768px) {
  .t-bq-quote-mike .t-bq-quote-mike-base .t-bq-quote-mike-text:after {
    margin-left: 0;
  }
}
